{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    <table class="table table-striped">
        <theader>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </theader>
        <tbody>
            {% for arg in args: %}
            <tr>
                <td>{{ arg['symbol'] }}</td>
                <td
                    {% if arg['action'] == 'buy': %}
                    style="color: green;"
                    {% else: %}
                    style="color:red;"
                    {% endif %}
                    >{{ arg['amount'] }}</td>
                <td>{{ arg['price'] }}</td>
                <td>{{ arg['date'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}