{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell</h1>
    <form action="/sell" method="post" >
        <div class="form-group">
            <select class="form-control" name="symbol">
                {% for arg in args: %}
                <option>{{ arg['symbol'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" autocomplete="off" placeholder="Shares" name="shares">
        </div>
        <button class="btn btn-primary">Sell</button>
    </form>
{% endblock %}